$white: #fff;
$black: #000;
$background: #6b00b3;
$weird-green: #0c0;

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@function fade($color, $percentage) {
  @return mix(white, $color, $percentage);
}

$chat-background: rgba($white, .05);

h1 {
  color: $weird-green;
}

.modal {
  color: $black;
}

.game-message {
  color: shade($weird-green, 15);
}

.form-group {
  color: $black;
}
