$white: #fff;
$black: #000;
$background: #0277bd;
$second-color: #7e57c2;
$accent: #64dd17;
$weird-green: #0c0;

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@function fade($color, $percentage) {
  @return mix(white, $color, $percentage);
}

$chat-background: rgba($white, .05);

h1 {
  color: $accent;
}

.modal {
  color: $black;
}

.game-message {
  color: $accent;
}

.form-group {
  color: $black;
}
