@import 'colors';

$tile-side: 200px;
$board-side: (3 * $tile-side) + 20px;
$chat-width: 25%;

body {
  background: $background;
  color: $white;
  padding: 0;
}

.modal {
  color: $black;
}

.auth-actions {
  background: shade($background, 30);
  margin-bottom: 10px;
  padding: 5px;
}

.game-board {
  border: 3px solid $black;
  height: $board-side;
  margin: auto;
  width: $board-side;
}

.game-tile {
  border: 2px solid $black;
  box-sizing: border-box;
  float: left;
  height: $tile-side;
  margin: auto;
  width: $tile-side;
}

header {
  border-width: 0 0 3px;
  text-align: center;
}

aside {
  background: $chat-background;
  box-sizing: border-box;
  margin: 0;
  max-width: $chat-width;
}

.game {
  margin: auto;
}

.menu-item {
  margin: auto;
}
