@import 'colors';

$tile-side: 200px;
$board-side: (3 * $tile-side) + 20px;
$chat-width: 25%;
$chat-height: 750px;

body {
  background: $background;
  color: $white;
  padding: 0;
}

.auth-actions {
  background: shade($background, 40);
  margin-bottom: 10px;
  padding: 5px;
}

.game-board {
  height: $board-side;
  margin: auto;
  width: $board-side;
}

.game-tile {
  border: 2px solid $black;
  box-sizing: border-box;
  float: left;
  height: $tile-side;
  margin: auto;
  width: $tile-side;
}

header {
  border-width: 0 0 3px;
  text-align: center;
}

aside {
  background: $chat-background;
  box-sizing: border-box;
  height: $chat-height;
  margin: 0;
}

.game {
  margin: auto;
}

.menu-item {
  display: block;
  margin: auto;
}

img {
  display: block;
  margin: auto;
  max-height: $tile-side - 10;
  max-width: $tile-side - 10;
  text-align: center;
}
